{% extends 'base.html' %} {%block content%}
<div class="container-fluid">
  <div class="row justify-content-between">

    <!-- This is the Watchlist Column-->
    <div
         class="mt-2 col-sm-4 border-right border-2 border-dark d-flex flex-column">
      <div
           class="d-flex align-items-center justify-content-center text-white-50 bg-dark rounded shadow-sm">
        <div class="h-100 p-2 ">
          <h5 class="mb-0 text-white lh-100">Watchlist</h5>
        </div>
      </div>
      <div id="watchlist"
           data-url={% url 'movies:bookmark' %}>
        {% include 'movies/movie-card-list.html' with movies=saved_movies%}
      </div>
    </div>

    <!-- This is the Movie Search Column-->


    <!-- This is the Friends Column-->
    <div
         class="mt-2 col-sm-4 border-left border-2 border-dark d-flex flex-column">
      <div
           class="d-flex align-items-center justify-content-center text-white-50 bg-dark rounded shadow-sm">
        <div class="h-100 p-2">
          <h5 class="mb-0 text-white lh-100">Friends</h5>
        </div>
      </div>
      <div class="btn-group-vertical text-center mt-1">
        {% for friend in friends %}
        <a href="{% url 'movies:user' user_id=friend.id  %}"
           class="btn btn-outline-dark ">
          {{friend.get_full_name}}
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{%endblock content%}