<!-- Takes movie data -->
<div id="movie-detail-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content text-light bg-dark">

            <div class="modal-body text-center">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light"
                    data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>